@import './base.css';
button{
    background: var(--navum);
    background: var(--navdois);
    color: var(--terciary-color);
   font-weight:lighter;
   font-size: 1rem;
   padding: 0.8rem;
   border: none;
   border-radius: 0.5rem;
}
a{
    list-style: none;
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--navum);
    background: var(--navdois);
    padding: 1.3rem;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}